
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cinzel+Decorative:wght@400;700&family=Cormorant&family=Cormorant+Infant:wght@500&family=Cutive+Mono&family=DynaPuff:wght@500;600;700&family=Edu+TAS+Beginner&family=Lobster&family=Poppins:wght@100;300;600&family=Roboto:wght@300;400;700&display=swap');

*{
margin:0;
padding: 0;
box-sizing: border-box;
}


body{
font-family: 'Roboto', sans-serif;
background-color: #ddf8f9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ff7500' fill-opacity='0.47'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
display: flex;
min-height:100vh;
}







.nav{
position: absolute;
top: 0;
width:100%;
height:3em;
background-color: #050583d5;
position: fixed;
}





.arrow{

align-items: center;
margin:5px 2px;
color: #fff;
text-decoration: none;
position: absolute;
left:5px;
top:3px;
}

.nav__logo{
position: absolute;
right:10px;
text-decoration: none;
font-size:1.6rem;
color: rgb(0, 183, 255);

font-family: 'Montserrat', sans-serif;

}

















#form{
background-color: rgb(244, 252, 251);

margin: auto;
width:100%;
max-width:400px;
padding:4.5em 3em;
border-radius:10px;
box-shadow:0 5px 10px -5px rgb(255, 254, 254);
text-align: center;
}


#form__title{
font-size:2rem;
margin-bottom:.5em;
}

.form__paragraph{
font-weight: 300;
}

.form__container{
margin-top: 3em;
display: grid;
gap:2.5em;
}

.form__group{
position: relative;
--color:#5757577e;
}


.form__input{
width:100%;
background: none;
color:var(--color);
font-size:1rem;
padding:.6em .3em;
border:none;
outline: none;
border-bottom: 1px solid var(--color);
font-family: 'Roboto', sans-serif;

}


.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
transform: translateY(-12px) scale(.7);
transform-origin: left top;
color: rgb(0, 183, 255);

}


.form__label{
color: var(--color);
cursor:pointer;
position: absolute;
top:0;
left:5px;
transform: translateY(10px);
transition:transform .5s, color .3s;
}


.form__submit{
background:#052f6e;
color: #fff;
font-family:'Roboto', sans-serif;
font-weight: 300;
font-size:1rem;
padding:.8em 0;
border: none;
border-radius:.5em;
box-shadow: 2px 2px 6px  #00c1fc;
}


.form__line{
position: absolute;
bottom:0;
left: 0;
width: 100%;
height: 1px;
background-color: #fc5c00;
transform: scale(0);
transform:left bottom;
transition: transform .4s;
}


.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
transform: scale(1);
}

.subtitle{
font-family: 'Cinzel Decorative', cursive;
font-size:1rem;
text-align: center;

}
.modal__logo{
width:130px;
margin: 40px auto;
transform: translateX(100px);
}
